@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{

    --background: #000000;
    --red: #C20000;
    --blue: #001F70;
    --gradient:linear-gradient( #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font: 'Titillium Web', sans-serif;
       
}

body{
    background-color: var(--background);
    font-family: var(--font);
}

.menu{
    height:5em;
    width: 100%;
  
}

.content{
    width:100%;
    max-width: 75em;
    height: 100%;
    margin:auto;
    /* border:solid 2px yellow; */
}

.rodape-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    width: 100%;
    max-width:21.18em;
    margin-right: 6em;
}
.menu ul{
    list-style-type:none ;}

.options{
    width: 100%;
    max-width: 50em;
}

.menu a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.0em;
    text-transform: uppercase;
    transition: 0.3s;
}

.menu a:hover{
    color:#ffffff;
    background-color: #C31616;
    border-radius: 0.3em;
    padding: 0.5em;
    transform: scale(1.1);    
}

.logo:hover{
    background-color:#C31616;
    padding: 0.7em;
    border-radius: 0.3em;
    transform: scale(1.1);
    
}
.banner{
    position: relative;

}
.banner-container{
    width: 100%;
    height: 37.5em;
    /* background-color: rgba(255, 0, 0, 0.137); */
    position: absolute;
    top:0;
}

.banner-content{
    display: flex;
    width: 80%;
    height: 100%;
    /* background-color: rgba(0, 255, 98, 0.514);  */
    margin: auto;
    justify-content: flex-end;
}

.banner-text{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.banner-text h1{
    font-size: 4.62em;
    font-family:'Titillium Web', sans-serif;
    color: white;
}

.banner-text p{
    font-size: 1.5em;
    font-family:'Titillium Web', sans-serif;
    color: white;
}

.banner-text a{
    margin-top: 1.3em;
    display: inline-block;
    padding: 15px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration:none;
    outline: none;
    color: #fff;
    background-color: #C31616;
    border: none;
    border-radius: 13px;
    box-shadow: 0 7px rgb(51, 49, 49);
    transition: 0.3s;

}


.banner-text a:hover{
    background-color: #7c1717;
}

.games{
    width: 100%;
    height: 7.5em;
    display: flex;
    justify-content:center;
    align-items: center;
}

.content-game{
    width: 90%;
    opacity: 1;
    transition: 0.3s;
}

.content-game img{
    width: 90%;
    opacity: 0.6;
    transition: 0.3s;
}

.content-game img:hover{
    opacity: 1;
}

.about{
    height: 35em;
    background-color: var(--blue);
    position: relative;
}

.angulation{
    width: 100%;
    height: 27.125em;
    background-color: var(--background);
    transform:skewY(-3.5deg)
}

.about-angle{
    height: 100%;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.container-about{
    color: #fff;
    position: absolute;
    top:0;
    
}

.content-about{
    width: 80%;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content:space-around;
    

}

.text-about{
    width: 50%;
    text-align: justify;
    
}

.content-about img{
    max-width: 31.875em;
    padding-left:2em;
    opacity: 0.6;
    transition: 0.3s;
}

.content-about img:hover{
    opacity: 1;
    transition: 0.3s;
    transform: scale(1.1);
}

.text-about h2{
    font-size:2.1875em;
    font-family:'Titillium Web', sans-serif; 
}

.text-about p{
    font-size:1.1em;
    font-family:'Titillium Web', sans-serif; 
}

.text-about h3{
    font-size:1.1em;
    font-family:'Titillium Web', sans-serif;
    padding-top: 1em;
}

.partidas{
    width: 100%;
    height: 7.5em;
    display: flex;
    align-items: center;
    border: solid 2px red;
}

.content-partidas{
    width: 90%;
    height: 7.5em;
    display: flex;
    margin: auto;
}

.live-play p{
    color: #fff;
    font-size: 2em;
    font-family:'Titillium Web', sans-serif;
}

.play1{
    display: flex;
    align-items:center;
    padding: 2em;
    height: 5em;
    margin: 1.2em;
    transition: 0.7s;
}

.play1:hover{
    border: solid 1px #C31616;
    transition: 0.7s;
    
}

.play1 img{
    width: 6em;
    height: 4em;  
}

.play1 p{
    font-size: 1.5em;
    color: #fff;
    font-family:'Titillium Web', sans-serif;
    align-items: center;
    padding: 1em;  
}


.play2{
    display: flex;
    align-items:center;
    padding: 2em;
    height: 5em;
    margin: 1.2em;
    transition: 0.7s;
}

.play2:hover{
    border: solid 1px #C31616;
    transition: 0.7s;
    
}

.play2 img{
    width: 6em;
    height:4em;  
}

.play2 p{
    font-size: 1.5em;
    color: #fff;
    font-family:'Titillium Web', sans-serif;
    align-items: center;
    padding: 1em;  
}

.more-plays {
    padding-left: 1.5em;
    align-items:center;
    display:flex;
    border-radius: 4px;
    background-color:  #C31616;
    border:none;
    color: white;
    text-align:center;
    font-size:28px;
    margin: auto;
    width: 9.375em;
    height:2.5em;
    transition: 0.5s;
    cursor: pointer;
    
  }
  
  .more-plays span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: white;
  }
  
  .more-plays span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top:0;
    right:-20px;
    transition: 0.5s;
  }
  
  .more-plays:hover span {
    padding-right: 25px;
  }
  
  .more-plays:hover span:after {
    opacity: 1;
    right: 0;
    border: solid 2px blue;
    margin: auto;
}

.ao-p{
    display: flex;
    color: white;
    align-items: center;
    font-size: 2em;
    text-transform: uppercase;
}

.time1{
    display: flex;
    color: white;
    align-items: center;
    margin-left: 2em;
    font-size:1.5em;

}

.time1 img{
    width:6em;
    height:4em;
    /* border: solid 2px  #C31616; */
    
}

.versus{
    display: flex;
    align-items: center;
    color: white;
    font-family:'Titillium Web', sans-serif;
    padding-left: 2em;
}

.time2{
    display: flex;
    color: white;
    align-items:center;
    margin-left:2em;
    font-size:1.5em;
}
.time2 img{
    width:6em;
    height:4em;
}



@media screen and (max-width : 1199px){
    body{
        background-color: var(--background);
    }
}

@media screen and (max-width : 991px){
    body{
        background-color: var(--background);
    }
}

@media screen and (max-width : 767px){
    body{
        background-color: var(--background);
    }
}

@media screen and (max-width : 576px){
    body{
        background-color: var(--background);
    }
}