@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{

    --background: #000000;
    --red: #C20000;
    --blue: #001F70;
    --gradient:linear-gradient( #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font: 'Titillium Web', sans-serif;
       
}

body{
    background-color: var(--background);
    font-family: var(--font);
}

.menu{
    height:5em;
    width: 100%;
  
}

.content{
    width:100%;
    max-width: 75em;
    height: 100%;
    margin:auto;
    /* border:solid 2px yellow; */
}

.rodape-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100%;
    max-width:21.18em;
}
.menu ul{
    list-style-type:none ;}

.options{
    width: 100%;
    max-width: 50em;
}

.menu a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.0em;
    text-transform: uppercase;
    transition: 0.3s;
}

.menu a:hover{
    color: black;
    background-color: white;
    border-radius: 0.3em;
    padding: 0.3em;
     
}

.logo:hover{
    background-color:#1E1C21;
    padding: 0.7em;
    border-radius: 0.3em;
    
}



@media screen and (max-width : 1199px){
    body{
        background-color: var(--background);
    }
}

@media screen and (max-width : 991px){
    body{
        background-color: var(--background);
    }
}

@media screen and (max-width : 767px){
    body{
        background-color: var(--background);
    }
}

@media screen and (max-width : 576px){
    body{
        background-color: var(--background);
    }
}